<!DOCTYPE html>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"  content="initial-scale=1, width=device-width">

<title>Home</title>

<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />

<!--[if  IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

</head>

<body class="home">
    
    <!-- start div #wrapper -->
    <div id="wrapper">
        
        <!-- start header -->
        <header>
            <div class='controls'>
                <ul>
                    <li class="hidden-phone"><a href='#' class='rss'><img src='img/rss.png' /></a></li>
                    <li class="hidden-phone"><a href='#' class='twitter'><img src='img/twitter.png' /></a></li>
                    <li class="hidden-phone"><a href='#' class='facebook'><img src='img/facebook.png' /></a></li>
                    <li><a href='#' class='btn light'>Register</a></li>
                    <li><a href='#' class='btn lead'>Login</a></li>
                </ul>
                <div class='clear'></div>
            </div>
            <div class="logo">
                <a href="index.html"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="search">
                <form action="#" method="post">
                    <input class="field" type="text" name="" value="" placeholder="SEARCH">
                    <input class="submit" type="submit" name="" value="" >
                </form>
            </div>
            <nav class="menu">
                <ul>
                    <li class="active"><a href="index.html">Bollywood</a></li>
                    <li><a href="category.html">Gallery</a></li>
                    <li><a href="detail.html">South Cinema</a></li>
                    <li><a href="gallery.html">Reviews</a></li>
                    <li><a href="category.html">Media</a></li>
                    <li><a href="category.html">Gossip</a></li>
                    <li><a href="category.html">Other</a>
                        <ul class="dropdown">
                            <li><a href="category.html">TV & Music</a></li>
                            <li><a href="category.html">Trailers</a></li>
                            <li class="last"><a href="category.html">Hollywood</a></li>
                        </ul>
                    </li>
                </ul>                                              
            </nav>   
            <select class="mobile-menu" onchange='document.location.href=this.options[this.selectedIndex].value;'> 
                <option value="">Menu</option> 
                <option value="index.html">Bollywood</option>
                <option value="category.html">Gallery</option>
                <option value="detail.html">South Cinema</option>
                <option value="gallery.html">Reviews</option>
                <option value="category.html">Media</option>
                <option value="category.html">Gossip</option>
                <option value="category.html">Other</option>
            </select>
            <div class="clear"></div>
        </header>
        <!-- end header -->

        <!-- start slider -->
        <!-- end slider -->
        
		<!-- start div #main -->
	    <div id="main">
            <div class="main-content">
                <section class="hidden-phone">
                    <div id='tile-wrap' class='row-fluid dark'>
                        <div class='left-container marginless'>
                            <div class='row-fluid'>
                                <div class='tile half'>
                                    <img src='img/movie-tiles/half1.jpg' />
                                    <div class='caption'>
                                        <div class='padded'>
                                            <h6><a href="#">sunny leone in j-ism 2: is this movie great or just incredibly hot</h6></a>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='tile half'>
                                    <img src='img/movie-tiles/half2.jpg' />
                                    <div class='caption'>
                                        <div class='padded'>
                                            <h6><a href="#">Iron Man 3 : Jarvis Controlled Suits</a></h6>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='tile one-third'>
                                    <img src='img/movie-tiles/onethird1.jpg' />
                                    <div class='caption'>
                                        <div class='padded'>
                                            <h6><a href="#">Now you see me</a></h6>
                                            <p>It is a long established fact that a reader.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='tile one-third'>
                                    <img src='img/movie-tiles/onethird2.jpg' />
                                    <div class='caption'>
                                        <div class='padded'>
                                            <h6><a href="#">Fast and Furious 6</a></h6>
                                            <p>It is a long established fact that a reader.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='tile one-third'>
                                    <img src='img/movie-tiles/onethird3.jpg' />
                                    <div class='caption'>
                                        <div class='padded'>
                                            <h6><a href="#">Star Trek Into The Darkness</a></h6>
                                            <p>It is a long established fact that a reader.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='right-container'>
                            <div class='row-fluid'>
                                <div class='span1'>
                                    <div class='padded'>
                                        <article class="mini">
                                            <div class="post-thumb">
                                                <a href="#"><img src="img/small-1.jpg" alt=""></a>
                                                <div class="overlay">
                                                    <div class="op"></div>
                                                    <div class="category">
                                                        <div class="icon"></div>
                                                        view
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-desc">
                                                <h3><a href="#">'I AM A RISK TAKER’ - SAYS AAMIR KHAN</a></h3>
                                                <div class="clear"></div>
                                                <p>I am never afraid to walk on the path</p>    
                                            </div>
                                            <div class="clear"></div>
                                        </article>
                                        <article class="mini">
                                            <div class="post-thumb">
                                                <a href="#"><img src="img/small-3.jpg" alt=""></a>
                                                <div class="overlay">
                                                    <div class="op"></div>
                                                    <div class="category">
                                                        <div class="icon"></div>
                                                        view
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-desc">
                                                <h3><a href="#">Daniel Craig doesn't die find out who</a></h3>
                                                <div class="clear"></div>
                                                <p>The epic conclusion to the 007 saga</p>    
                                            </div>
                                            <div class="clear"></div>
                                        </article>
                                        <article class="mini hidden-custom">
                                            <div class="post-thumb">
                                                <a href="#"><img src="img/small-4.jpg" alt=""></a>
                                                <div class="overlay">
                                                    <div class="op"></div>
                                                    <div class="category">
                                                        <div class="icon"></div>
                                                        view
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-desc">
                                                <h3><a href="#">Heroine is looking good or bad?</a></h3>
                                                <div class="clear"></div>
                                                <p>I am never afraid to walk on the path</p>    
                                            </div>
                                            <div class="clear"></div>
                                        </article>
                                        <article class="mini hidden-custom">
                                            <div class="post-thumb">
                                                <a href="#"><img src="img/small-5.jpg" alt=""></a>
                                                <div class="overlay">
                                                    <div class="op"></div>
                                                    <div class="category">
                                                        <div class="icon"></div>
                                                        view
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-desc">
                                                <h3><a href="#">Tony Stark does it again and reprises ironman</a></h3>
                                                <div class="clear"></div>
                                                <p>Lorem ipsum dolor sit amet consectetur</p>    
                                            </div>
                                            <div class="clear"></div>
                                        </article>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="left-container">
                	<div class="row-fluid">
                        <div class="span2">
                            <div class="heading-title">
                                <h3>Bollywood</h3>
                            </div>
                            <article class="small">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/3.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="category-details">
                                    <p class="date">12 march 2013</p>
                                    <h3><a href="#">J-ISM 2 OUT NOW AND EARNINGS ARE LOOKING INTERESTING</a></h3>
                                </div>
                            </article>
                            <article class="small">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/5.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="category-details">
                                    <p class="date">12 march 2013</p>
                                    <h3><a href="#">LOREM ipsum dolor sit
dolorem amet adipiscing ELIT</a></h3>
                                </div>
                            </article>
                            <article class="small">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/7.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="category-details">
                                    <p class="date">12 march 2013</p>
                                    <h3><a href="#">KAREENA KAPOOR IS
LOOKING GOOD FOR HER NEW ROLE hot as ever</a></h3>
                                </div>
                            </article>
                            <article class="small last">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/9.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="category-details">
                                    <p class="date">12 march 2013</p>
                                    <h3><a href="#">IT IS A LONG ESTABLISHED
FACT THAT LOREM IPSUM IS JUST TEXT</a></h3>
                                </div>
                            </article>    
                        </div>
                        <div class="span2">
                            <div class="heading-title">
                                <h3>South Cinema</h3>
                            </div>
                            <article class="small">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/4.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="category-details">
                                    <p class="date">12 march 2013</p>
                                    <h3><a href="#">Zindagi Fifty official
trailer out today in some Areas</a></h3>
                                </div>
                            </article>
                            <article class="small">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/6.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="category-details">
                                    <p class="date">12 march 2013</p>
                                    <h3><a href="#">SHOUTOUT AT WADALA
IN 2d reportedly in 3d too</a></h3>
                                </div>
                            </article>  
                            <article class="small">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/8.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="category-details">
                                    <p class="date">12 march 2013</p>
                                    <h3><a href="#">Contrary to popular
beleife lorem ipsums are fine</a></h3>
                                </div>
                            </article>  
                            <article class="small last">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/10.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="category-details">
                                    <p class="date">12 march 2013</p>
                                    <h3><a href="#">SEITAI delhi belly
tamil disputedly has earned a lot of hits</a></h3>
                                </div>
                            </article>      
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">
                            <div class="heading-title">
                                <h3>Reviews</h3>
                            </div>
                            <article class="border">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/1.jpg" alt=""></a>
                                </div>
                                <div class="category-details">
                                    <h3><a href="#">IRON MAN 3: The REVIEW - WHAT YOU
MIGHT NOT HAVE EXPECTED</a></h3>
                                    <p class="date">12 march 2013</p>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                </div>
                            </article>
                            <article class="mini">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/small-1.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="right-desc">
                                    <h3><a href="#">RACE 2 - REVIEW BY
SOMEONE</a></h3>
                                    <div class="clear"></div>
                                    <p class="date">12 march 2013</p>    
                                </div>
                                <div class="clear"></div>
                            </article>
                            <article class="mini last">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/small-3.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="right-desc">
                                    <h3><a href="#">DANIEL CRAIG’S PERFORMANCE
ON SKYFALL</a></h3>
                                    <div class="clear"></div>
                                    <p class="date">12 march 2013</p>    
                                </div>
                                <div class="clear"></div>
                            </article>
                        </div>
                        <div class="span2">
                            <div class="heading-title">
                                <h3>Trailers</h3>
                            </div>
                            <article class="border">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/2.jpg" alt=""></a>
                                </div>
                                <div class="category-details">
                                    <h3><a href="#">JISM 2 OFFICIAL TRAILER IN HD
BY Some remastered STUDIOS</a></h3>
                                    <p class="date">12 march 2013</p>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                </div>
                            </article>
                            <article class="mini">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/small-2.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="right-desc">
                                    <h3><a href="#">WARM BODIES TRAILER 720p
EXTENDED VIEW</a></h3>
                                    <div class="clear"></div>
                                    <p class="date">12 march 2013</p>    
                                </div>
                                <div class="clear"></div>
                            </article>
                            <article class="mini last">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/small-4.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="right-desc">
                                    <h3><a href="#">HEROINE STARRING KAREENA
KAPOOR TRAILER</a></h3>
                                    <div class="clear"></div>
                                    <p class="date">12 march 2013</p>    
                                </div>
                                <div class="clear"></div>
                            </article>    
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="heading-title">
                            <h3>music & TV</h3>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">
                            <article>
                                <div class="post-thumb">
                                    <a href="#"><img src="img/0.jpg" alt=""></a>
                                </div>
                                <div class="category-details">
                                    <h3><a href="#">PUSSY CAT DOLLS LOOKING TO HAVE A
RENION OF SORTS</a></h3>
                                    <p class="date">12 march 2013</p>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                </div>
                            </article>
                        </div>
                        <div class="span2">
                            <article class="mini">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/small-1.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="right-desc">
                                    <h3><a href="#">TRANSPORTER THE TV SERIES
NOT AS GOOD AS ORIGINAL</a></h3>
                                    <div class="clear"></div>
                                    <p class="date">12 march 2013</p>    
                                </div>
                                <div class="clear"></div>
                            </article>
                            <article class="mini">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/small-3.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="right-desc">
                                    <h3><a href="#">KURT COBAINE MIGHT
BE ALIVE</a></h3>
                                    <div class="clear"></div>
                                    <p class="date">12 march 2013</p>    
                                </div>
                                <div class="clear"></div>
                            </article>
                            <article class="mini last">
                                <div class="post-thumb">
                                    <a href="#"><img src="img/small-4.jpg" alt=""></a>
                                    <div class="overlay">
                                        <div class="op"></div>
                                        <div class="category">
                                            <div class="icon"></div>
                                            view
                                        </div>
                                    </div>
                                </div>
                                <div class="right-desc">
                                    <h3><a href="#">Lorem ipsum live at jay leno’s
tonight</a></h3>
                                    <div class="clear"></div>
                                    <p class="date">12 march 2013</p>    
                                </div>
                                <div class="clear"></div>
                            </article>    
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="right-container">
                    <div class="sidebar">
                    
                        <div class='widget'>
                            <div class="heading-title">
                                <h3>Photo Gallery</h3>
                            </div>
                                <ul class='gallery'>
                                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                                </ul>
                            <div class="clear"></div>
                        </div>
                        
                        <div class="widget">
                            <div class="heading-title">
                                <h3>ads</h3>
                            </div>
                            <img class="ads" src="img/ads.jpg" alt="">
                            <div class="clear"></div>
                        </div>
                        
                        <div class='widget'>
                            <div class="heading-title">
                                <h3>Box Office Earnings</h3>
                            </div>
                            <table class='box-office'>
                                <tr>
                                    <td>1</td>
                                    <td>Nautanki Saala - week 1</td>
                                    <td>$17,560,000</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Nautanki Saala - week 1</td>
                                    <td>$17,560,000</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nautanki Saala - week 1</td>
                                    <td>$17,560,000</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Nautanki Saala - week 1</td>
                                    <td>$17,560,000</td>
                                </tr>
                            </table>
                            <a href='#' class='tpl btn large pull-right'>View Full Chart</a>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </div>	
        </div>
	    <!-- end div #main -->
    
    </div>
	<!-- end div #wrapper -->    
    
    <!-- start footer -->
    <footer>
        <div class="footer-top">
            <div class="logo">
                <a href="index-2.html"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="widget first">
                <div class="desc">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                    </p>
                    <ul class="info">
                        <li class="mail"><a href="#">support@projectname.com</a></li>
                    </ul>
                </div>
                <ul class='social'>
                    <li><a href='#' class='twitter'><img src='img/twitter.png' /></a></li>
                    <li><a href='#' class='facebook'><img src='img/facebook.png' /></a></li>
                </ul>
            </div>
            <div class="widget">
                <div class="title">
                    <h3>popular news</h3>
                </div>
                <div class="news">
                    <article class="mini">
                        <div class="post-thumb">
                            <a href="#"><img src="img/small-5.jpg" alt=""></a>
                            <div class="overlay">
                                <div class="op"></div>
                                <div class="category">
                                    <div class="icon"></div>
                                    view
                                </div>
                            </div>
                        </div>
                        <div class="right-desc">
                            <h3><a href="#">IRON MAN 3 IS SO POPULAR 
RIGHT NOW - HERS’S WHY</a></h3>
                            <div class="clear"></div>
                            <p class="date">12 march 2013</p>    
                        </div>
                        <div class="clear"></div>
                    </article>
                    <article class="mini">
                        <div class="post-thumb">
                            <a href="#"><img src="img/small-6.jpg" alt=""></a>
                            <div class="overlay">
                                <div class="op"></div>
                                <div class="category">
                                    <div class="icon"></div>
                                    view
                                </div>
                            </div>
                        </div>
                        <div class="right-desc">
                            <h3><a href="#">LOREM IPSUM DOLOR SIT AMET
CONSECTETUR</a></h3>
                            <div class="clear"></div>
                            <p class="date">12 march 2013</p>    
                        </div>
                        <div class="clear"></div>
                    </article>
                    <article class="mini last">
                        <div class="post-thumb">
                            <a href="#"><img src="img/small-3.jpg" alt=""></a>
                            <div class="overlay">
                                <div class="op"></div>
                                <div class="category">
                                    <div class="icon"></div>
                                    view
                                </div>
                            </div>
                        </div>
                        <div class="right-desc">
                            <h3><a href="#">DANIEL CRAIG’S - POSSIBLY LAST
JAMES BOND MOVIE</a></h3>
                            <div class="clear"></div>
                            <p class="date">12 march 2013</p>    
                        </div>
                        <div class="clear"></div>
                    </article>
                </div>
            </div>
            <div class="widget last">
                <div class="title">
                    <h3>popular photos</h3>
                </div>
                <ul class='gallery'>
                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                    <li><a href='#'><img src='img/gallery-thumb.jpg' /></a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
                <p>Copyright 2013 &copy; <span>projectname</span>.</p>
            </div>
            <div class="clear"></div>
        </div>  
    </footer>
    <!-- end footer -->

<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="js/html5shiv.js" ></script>
<script type="text/javascript" src="js/bootstrap.min.js" ></script>
<script type="text/javascript" src="js/fancydropdown.js" ></script>
<script type="text/javascript" src="js/jquery.easing-1.3.js" ></script>
<script type="text/javascript" src="js/scripts.js" ></script>

</body>

</html>